{% include 'partials/header.html' %}
<div class="container">
	<div class="row">
		<div class="col-xs-2">
			{% include 'partials/sidebar.html' %}
		</div>
		<div class="col-xs-6">
			<div>
				Sent items:  <a href="/form1" style="color:green;"><< Back</a>
				{% for smail in form1 %}
				<div>
					<a href="/form1/details/{{smail.id}}"  style="color:green;">{{smail.to}}</a>: {{smail.subject}}
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="col-xs-4">
		
		</div>
	</div>
</div>

{% include 'partials/footer.html' %}
